.read-box-master {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-box-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-box {
  min-width: 600px;
  max-width: 740px;
  margin-top: 50px;
  width: 800px;
  height: 800px;
  background-color: #ffdbc1;
  border-radius: 20px;
}
.post-master {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-wrap {
  width: 85%;
  height: 100%;
}
.post {
  width: 100%;
  height: 90%;
}
.info {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-profile {
  margin-right: 20px;
}
.post-main-content {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-main {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-erase-wrap {
  margin-right: 20px;
  width: 15%;
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.post-erase {
  background-color: thistle;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}
.reply-name {
  margin-left: 20px;
}
.reply-count {
  margin-left: 10px;
}
.reply-input-master {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply-input-wrap {
  height: 100%;
  width: 85%;
  position: relative;
}
.reply-input {
  position: absolute;
  top: 65%;
  transform: translate(0, -50%);
  background-color: white;
  height: 50%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply-button {
  margin-left: 100px;
  border: 1px solid rgba(177, 177, 177, 0.5);
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
  background: #fccda3;
  color: #2e1d0e;
}
