.signin-master {
  flex-direction: row;
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.signin-material {
  max-width: 400px;
  min-width: 400px;
  margin-top: 150px;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form {
  margin-top: 40px;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background-color: #ffdbc1;
  color: #322922;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin-wrap {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 12px;
  color: rgb(55, 55, 55);
  margin-top: 15px;
  margin-bottom: 2px;
  justify-content: flex-start;
}
.passwordlabel {
  font-size: 11px;
  color: gray;
  margin-top: 2px;
  justify-content: flex-start;
}
.input {
  width: 300px;
  height: 40px;
  border: 1px solid gray;
  outline: none;
  border-radius: 2px;
  line-height: 2.5rem;
  font-size: 15px;
}

.button-master {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 40%;
}
.submitbox {
  width: 300px;
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submitbox:hover {
  cursor: pointer;
}
.submitbutton {
  text-align: center;
  width: 300px;
  border: 1px solid rgba(177, 177, 177, 0.5);
  border-radius: 6px;
  padding: 15px;
  background: #ffffff;
  color: #2e1d0e;
}
.question {
  font-size: 12px;
  color: rgb(55, 55, 55);
  margin-top: 15px;
}
.signinlogo {
  width: 70px;
  height: 70px;
}
.logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
