* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headBox {
  height: 60px;
  width: 100%;
  background-color: #ffdbc1;
}
.header-master {
  flex-direction: row;
  display: flex;
  width: 100%;
}
.header-material {
  margin-top: 12px;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logout {
  text-decoration: none;
  margin-left: 5%;
  color: #68625d;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}
.login {
  color: #68625d;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}
.signup {
  color: #68625d;
  margin-left: 5%;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

/* .logout {
  text-decoration: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  margin: 0 auto;
  background: rgb(255, 220, 193);
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  margin-left: 500px;
}
header > nav {
  width: 600px;
  height: 100%;
}

header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
} */
