<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="width: 100%">
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="box">가운데 오고 싶어요</div>
    </div>
    <div class="header" style="width: 100%; display: flex; flex-direction: row">
      <div
        class="header-master"
        style="width: 100%; display: flex; flex-direction: row"
      >
        <div
          class="header-material"
          style="
            width: 12000%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        ></div>
        <div
          class="header-material"
          style="
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        ></div>
        <div
          class="header-material"
          style="
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        >
          ★★★★
        </div>
        <div
          class="header-material"
          style="
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        >
          ★Log Out★
        </div>
        <div
          class="header-material"
          style="
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          "
        ></div>
      </div>
    </div>

    <div class="main" style="display: flex; width: 100%">
      <div class="left-square" style="width: 40%">
        <div class="up-left-square">
          <div class="void"></div>
        </div>
        <div class="down-left-square">
          큰 사각형 -> 여기에서는 position을 사용하는 것을 추천
        </div>
      </div>

      <div
        class="mid-circle"
        style="
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="maybe-circle">여기에 원이 들어감</div>
      </div>

      <div class="right-square" style="width: 40%">
        <div class="up-right-square">
          큰 사각형 -> 여기에서는 position을 사용하는 것을 추천
        </div>
        <div class="down-right-square">
          큰 사각형 -> 여기에서는 position을 사용하는 것을 추천
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="maybe">@Dongne Moon</div>
    </div>
  </body>
</html>
